<div [@routerTransition]>
    <div class="container-fluid">
        <h2>
            <span>Users</span>
            <button class="btn btn-primary float-right jh-create-entity"
                    (click)="showCreateForm()">
                <span class="fa fa-plus"></span> <span>Create a new User</span>
            </button>
        </h2>
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
